.gold {
    width: 100%;
    border-spacing: 5px;
    border-collapse: separate;
    border: 1px solid gold;
    background-color: gold;
    outline: black;
}

th,td {
    padding: 10px;
    background-color: gold;
    color: black;
    border: 1px solid black;
}

th {
    text-align: left;
}
